<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.xamarin">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />

	
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />

	<!-- These are optional, but recommended. They will allow Maps to use the My Location provider. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<application android:label="xamarin.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY"
				   android:value="AIzaSyAGqt96PZq2IAf6erv99PzlyCO7_-NkOIQ" />
	</application>

			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
